<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Home - Broadway</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/navbar-fixed-top.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <% include ../header.ejs %>
      <div class = "jumbotron">

         <div class = "container">
            <h1><%= title %></h1>
            <p>Welcome to <%= title %>.</p>

            <p>
               <a class = "btn btn-primary btn-lg" role = "button">Learn more</a>
            </p>
         </div>

      </div>
        <h2>Feature Product</h2>
            <div class="row">

                <% product.forEach(function (item) { %>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="http://placehold.it/242x200?text=Feature_Product" alt="<%=item.Name%>">
                        <div class="caption">
                            <h3><%=item.Name%></h3>
                            <p>By <%= item.Brand%></p>
                            <p>Category <%= item.categoryId.Name%></p>
                            <p><%= item.Description%></p>
                            <p><a href="#" class="btn btn-primary" role="button">Details</a> <a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <%})%>
            </div>
        </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
    <script src="/javascripts/bootstrap.min.js"></script>

  </body>
</html>
